.containter {
    margin:  1rem 10rem 1rem 25rem;
    padding: auto;
    width: 70rem;
    display: inline-flex;
}

.char {
    margin: auto;
    width:2rem;
    float: left;
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.2);
    text-align: center;
    cursor: pointer;
}

.selectedKey {
    background-color: #cebcb6;
}

